<div class="login" fxLayout="row" fxLayoutAlign="center center">
    <div>
        <span routerLink="/">
            <mat-icon>arrow_back</mat-icon>
        </span>
        <h2>Se connecter</h2>
        <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
            <div>
                <input placeholder="Email Or Username" formControlName="emailOrUsername">
            </div>
            <div>
                <input [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
            </div>
            <button type="submit" [disabled]="form.invalid">Submit</button>
            <p *ngIf="onError" class="error">An error occurred</p>
        </form>
    </div>
</div>