<div class="component">
    <div class="header headerArticleList">
        <button class="button__purple" routerLink="create">
            Créer un article
        </button>
    </div>
    <div *ngIf="!subscribedTopics$ || subscribedTopics$.length === 0">
        Souscrivez d'abord a des themes
    </div>
    <div class="grid">
        <div class="article card" *ngFor="let article of (articles$ | async)" [routerLink]="['article', article.id]">
            <h3 class="article__title">{{ article.title }}</h3>
            <div class="article__subtitle">
                <span>{{ article.created_at | date }}</span>
                <div class="article__subtitle__group">
                    <span>{{ article.author.username }}</span>
                    <span>{{ article.author.email }}</span>
                </div>
            </div>
            <p>{{ article.content }}</p>
        </div>
    </div>
</div>