<div>

    <h1>Topics</h1>

    <ul>
        <li *ngFor="let topic of (topics$ | async)">
            {{ topic }} <span *ngIf="subscribedTopics$.includes(topic)"> - Subscribed</span>
            <button mat-raised-button color="primary" *ngIf="!subscribedTopics$.includes(topic)"
                (click)="subscribeToTopic(topic)">Subscribe</button>
            <button mat-raised-button color="primary" *ngIf="subscribedTopics$.includes(topic)"
                (click)="unsubscribeToTopic(topic)">Unsubscribe</button>
        </li>
    </ul>

</div>