<div class="component">
    <div class="topicsGrid">
        <div class="topic card" *ngFor="let topic of (topics$ | async)">
            <h3>{{ topic}}</h3>
            <p>Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus dolorum
                suscipit, delectus distinctio impedit recusandae...</p>
            <button class="button__purple" *ngIf="!subscribedTopics$.includes(topic)"
                (click)="subscribeToTopic(topic)">S'abonner</button>
            <button class="button__purple" *ngIf="subscribedTopics$.includes(topic)" disabled
                (click)="unsubscribeToTopic(topic)">Abonné</button>
        </div>
    </div>
</div>