@import '../styles.scss';

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    &__group {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: black;
    }
}

@media (max-width: 520px) {
    .nav {
        display: none;
    }
}

.link {
    color: black;
    text-decoration: none;

    &:hover {
        color: $color-primary;
    }
}
